<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/desktop/layout}"
>
<head>
    <title>델리나잇</title>
</head>

<body>
<div layout:fragment="adminContent" id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-5">
            <div class="card custom-shadow mb-4 mt-5">
                <div class="card-body">
                    <h3>등록된 본사 목록</h3>
                    <ol class="breadcrumb mb-5">
                        <a href="/members/account/dashHub" class="breadcrumb-item active">홈</a>
                        <a href="#" class="breadcrumb-item active no-click">본사 관리</a>
                    </ol>

                    <div class="d-flex justify-content-end mb-3">
                        <a href="/members/center/create" class="btn btn-primary">새 본사 +</a>
                    </div>

                    <table class="table align-middle">

                        <thead>
                        <th class="col-1">#</th>
                        <th class="col-2">이름</th>
                        <th class="col-5">설명</th>
                        <th class="col-2">초대</th>
                        <th class="col-2">수정</th>
                        </thead>

                        <tbody>
                        <th:block  th:each="list:${centerDTOList}">
                            <tr>
                                <th th:text="${list.id}"></th>
                                <td th:data-num="${list.id}">
                                    [[${list.name}]]
                                </td>
                                <td th:text="${list.content}"></td>
                                <td><button class="copyBtn btn btn-dark" th:data-centerid="${list.id}">
                                    링크복사<i class="fa-solid fa-copy copy-icon ms-2"></i>
                                </button></td>

                                <td><button class="btn btn-outline-danger" id="delBtn"  th:value="${list.id}"><i class="fa-solid fa-trash"></i></button></td>
                            </tr>
                        </th:block>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </main>

    <!--스크립트 시작 -->
    <script>
        $(function (){
            $(".copyBtn").on("click", function () {
                let fullLink = "http://wooriproject.iptime.org:9003/members/account/accountRequest?role=super&id="+$(this).data("centerid") ;
                let tempInput = $("<input>");
                $("body").append(tempInput);
                tempInput.val(fullLink).select();
                let copy = document.execCommand('copy');
                tempInput.remove();

                if (copy) {
                    let icon = $(this).find(".copy-icon");

                    // 아이콘 클래스 변경
                    icon.removeClass("fa-copy").addClass("fa-check");

                    // 1.5초 뒤 다시 원상 복구
                    setTimeout(function () {
                        icon.removeClass("fa-check").addClass("fa-copy");
                    }, 1500);
                }
            });
            $(document).on("click", "#delBtn", function () {

                let id = this.getAttribute("value");

                Swal.fire({
                    title: '삭제하시겠습니까?',
                    text: "데이터가 손실될 수 있습니다.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: '취소',
                    confirmButtonText: '확인',
                    reverseButtons: false,

                }).then((result) => {

                    if (result.isConfirmed) {

                        $.ajax({
                            url : "/members/center/del",
                            type: "delete",
                            data: {id : id},
                            success: function () {
                                Swal.fire(
                                    '삭제가 완료되었습니다.',
                                    'success'
                                ).then(() => {
                                    location.reload();
                                })
                            },
                            error: function () {

                            },
                        })


                    }

                })
            });
        })
    </script>

    <!--스크립트 끝 -->

    <!--푸터 절대 수정 금지!!!!-->
    <!--푸터-->
    <div th:replace="~{fragments/desktop/adminfooter::adminFooter}"></div>
</div>
</body>
</html>
