<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/desktop/layout}"
>
<head>
    <title>델리나잇</title>

    <!--별도 css 필요할 시 아래로 추가-->
    <!--어디서 그대로 가져오는거 아니면 클래스 이름 잘 붙여주고
    styles.css에 작성할것-->
</head>

<body>
<div layout:fragment="adminContent" id="layoutSidenav_content">
    <main>
        <!--내용 넣는 곳-->
        <div class="container-fluid px-4">
            <!--페이지 이름-->
            <!--페이지 이름-->
            <h3 class="mt-5">메뉴 등록</h3>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">큰페이지 〉 중간페이지 〉 작은페이지</li>
            </ol>                    <!--텍스트 박스-->

            <div class="card mb-4">
                <div class="card-body">

                    <form action="/menu/register" th:object="${menuDTO}" method="post" class="formWrap"
                          enctype="multipart/form-data">

                        <div class="container">
                            <div class="row">

                                <div class="col-6">
                                    <input type="hidden" name="id" id="id">

                                    <div>
                                        <label for="formFileLg">이미지등록</label>
                                        <input name="image" class="form-control form-control image imgInput"
                                               id="formFileLg" type="file">
                                    </div>

                                    <div class="md-3 mt-3">
                                        <div class="input-group md-3">
                                            <label class="input-group-text" for="inputGroupSelect02">메뉴종류</label>
                                            <select th:field="*{menu}" class="form-select" id="inputGroupSelect02"
                                                    name="menu">
                                                <option value="KOREAN" selected>한식</option>
                                                <option value="WESTERN">양식</option>
                                                <option value="CHINESE">중식</option>
                                                <option value="JAPANESE">일식</option>
                                                <option value="DESSERT">카페</option>
                                                <option value="BEVERAGE">음료</option>
                                                <option value="ETC">기타</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="md-3 mt-3">
                                        <div class="input-group md-3">
                                            <label class="input-group-text" for="inputGroupSelect01">판매상태</label>
                                            <select th:field="*{menuStatus}" class="form-select" id="inputGroupSelect01"
                                                    name="menustatus">
                                                <option value="SELL" selected>판매중</option>
                                                <option value="SOLD_OUT">품절</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="md-3">
                                        <label for="name" class="form-label">메뉴</label>
                                        <input type="text" class="form-control" id="name" name="name">
                                    </div>

                                    <div class="md-3">

                                        <label for="content" class="form-label">메뉴정보</label>
                                        <textarea type="text" class="form-control" id="content"
                                                  name="content"></textarea>
                                    </div>

                                    <div class="md-3">
                                        <label for="price" class="form-label">가격</label>
                                        <input type="text" class="form-control" id="price" name="price">
                                    </div>

                                    <div class="hiddenImgNum"></div>
                                </div>

                                <div class="col-6">
                                    <div class="mb-3 mt-3">
                                        <img width="600" height="600" class="menuImg img-thumbnail"
                                             src="/img/defaultImg.png" alt="미리보기 이미지">
                                    </div>
                                </div>
                            </div><!--메뉴등록 위치-->
                        </div>
                    </form>

                </div>
                <div class="text-center mt-1 mb-3">
                    <button type="submit" class="btn btn-primary">등록</button>
                    <a href="/members/menu/list" class="btn btn-gray">취소</a>
                </div>
            </div>


            <script type="text/javascript" src="/js/imgscript.js"></script>


        </div>
    </main>


    <!--푸터 절대 수정 금지!!!!-->
    <!--푸터-->
    <div th:replace="~{fragmentes/desktop/adminfooter::adminFooter}"></div>
</div>
</body>
</html>
