<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<h1>store 등록 페이지</h1>
<form action="/members/store/create" method="post">
    매장명 : <input name="name">
    매장설명 : <input name="content">
    <button>전송</button>
</form>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>
</html>