<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>문의사항 목록</title>
</head>
<body>
<h1>목록</h1>

[[${qnaDTOList}]]
<table class="table">
    <thead>
    <tr>
        <th scope="col">글번호</th>
        <th scope="col">제목</th>
        <th scope="col">내용</th>
        <th scope="col">요청시간</th>
        <th scope="col">답변시간</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="qnaDTOList : ${qnaDTOList}">
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>

    </th:block>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>John</td>
        <td>Doe</td>
        <td>@social</td>
    </tr>
    </tbody>
</table>


</body>
</html>