<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/desktop/layout}"
>
<head>
    <title>델리나잇</title>
</head>

<body>
<div layout:fragment="adminContent" id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-5">
            <div class="card custom-shadow mb-4 mt-5">
                <div class="card-body">
                    <h3>[[${storeDTO.name}]] 주문 내역</h3>
                    <ol class="breadcrumb mb-5">
                        <a href="/members/account/dashHub" class="breadcrumb-item active">홈</a>
                        <a href="#" class="breadcrumb-item active no-click">주문 관리</a>
                    </ol>

                    <!--네비게이션-->
                    <ul class="nav nav-pills mb-4" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#processing"
                                    type="button"
                                    role="tab" aria-controls="home" aria-selected="true">주문 진행 중
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#complete"
                                    type="button" role="tab" aria-controls="profile" aria-selected="false">주문 완료 건
                            </button>
                        </li>
                    </ul>
                    <h4 th:if="${dataMsg}" th:text="${dataMsg}"></h4>

                    <div class="tab-content">
                        <div id="processing" class="tab-pane show active">
                            <table class="table align-middle table-hover" style="text-align: center">
                                <thead>
                                <tr>
                                    <th scope="col">주문 번호</th>
                                    <th scope="col">호텔명</th>
                                    <th scope="col">룸</th>
                                    <th scope="col">주문 시간</th>
                                    <th scope="col">승인 및 조리 시작 시간</th>
                                    <th scope="col">배달 시작 시간</th>
                                    <th scope="col">요청 사항</th>
                                    <th scope="col">주문 메뉴</th>
                                    <th scope="col">주문 상태</th>
                                    <th scope="col">상태 변경</th>
                                </tr>
                                </thead>
                                <tbody class="trWrap">

                                </tbody>
                            </table>
                        </div>
                        <div id="complete" class="tab-pane">
                            <table class="table align-middle" style="text-align: center">
                                <thead>
                                <tr>
                                    <th scope="col">주문 번호</th>
                                    <th scope="col">호텔명</th>
                                    <th scope="col">룸</th>
                                    <th scope="col">주문 시간</th>
                                    <th scope="col">승인 및 조리 시작 시간</th>
                                    <th scope="col">배달 시작 시간</th>
                                    <th scope="col">배달 완료 시간</th>
                                    <th scope="col">요청 사항</th>
                                    <th scope="col">주문 메뉴</th>
                                    <th scope="col">주문 상태</th>
                                </tr>
                                </thead>
                                <tbody class="trWrap2">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div layout:fragment="pagescript">
        <script src="/js/storeOrder.js" type="text/javascript"></script>

    </div>
    <div layout:fragment="pagecss">
        <script src="/js/storeOrder.js" type="text/javascript"></script>

    </div>


    <!--푸터 절대 수정 금지!!!!-->
    <!--푸터-->
    <div th:replace="~{fragments/desktop/adminfooter::adminFooter}"></div>
</div>
</body>
</html>
