<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
    <head>
        <title>델리나잇</title>

        <!--별도 css 필요할 시 아래로 추가-->
        <!--어디서 그대로 가져오는거 아니면 클래스 이름 잘 붙여주고
        styles.css에 작성할것-->
    </head>

    <body>
        <div layout:fragment="adminContent" id="layoutSidenav_content">
            <main>
                <!--내용 넣는 곳-->
                <div class="container-fluid px-4">
                    <!--페이지 이름-->
                    <h1 class="mt-4">메뉴목록</h1>
                    <!--텍스트 박스-->
                    <div class="card mb-4">
                       <div class="card-body">
                           <table class="table table-striped">
                               <thead>
                               <th>메뉴번호</th>
                               <th>메뉴</th>
                               <th>가격</th>
                               <th>판매여부</th>
                               </thead>
                               <th:block th:each="menuDTO : ${menuDTOList.content}">
                                   <tr>
                                       <td>
                                           <a th:href="@{/menu/read(id=${menuDTO.id})}">
                                               [[${menuDTO.id}]]
                                           </a>
                                       </td>
                                       <td th:text="${menuDTO.name}"></td>
                                       <td th:text="${menuDTO.price}"></td>
                                       <td th:text="${menuDTO.menuStatus}"></td>
                                   </tr>


                               </th:block>


                           </table>
                           <script type="text/javascript" src="/js/imgscript.js"></script>


                           <ul class="pagination justify-content-center">
                               <!-- 처음 페이지 버튼 -->
                               <li class="page-menu" th:classappend="${menuDTOList.number == 0} ? 'disabled'">
                                   <a class="page-link" th:href="@{/menu/list?page=0}">처음</a>
                               </li>

                               <!-- 이전 페이지 버튼 -->
                               <li class="page-menu" th:classappend="${!menuDTOList.hasPrevious()} ? 'disabled'">
                                   <a class="page-link" th:href="@{/menu/list?page={prev}(prev=${menuDTOList.number - 1})}">이전</a>
                               </li>

                               <!-- 현재 페이지 기준 앞 4개, 뒤 5개 -->
                               <li class="page-menu"
                                   th:each="pageNum : ${#numbers.sequence(
                                (menuDTOList.number - 4 > 0 ? menuDTOList.number - 4 : 0),
                                (menuDTOList.number + 5 < menuDTOList.totalPages - 1 ? menuDTOList.number + 5 : menuDTOList.totalPages - 1)
                                )}"
                                   th:classappend="${pageNum == menuDTOList.number} ? 'active'">
                                   <a class="page-link" th:href="@{/menu/list?page={p}(p=${pageNum})}" th:text="${pageNum + 1}"></a>
                               </li>

                               <!-- 다음 페이지 버튼 -->
                               <li class="page-menu" th:classappend="${!menuDTOList.hasNext()} ? 'disabled'">
                                   <a class="page-link" th:href="@{/menu/list?page={next}(next=${menuDTOList.number + 1})}">다음</a>
                               </li>

                               <!-- 마지막 페이지 버튼 -->
                               <li class="page-menu" th:classappend="${menuDTOList.number == menuDTOList.totalPages - 1} ? 'disabled'">
                                   <a class="page-link" th:href="@{/menu/list?page={last}(last=${menuDTOList.totalPages - 1})}">마지막</a>
                               </li>
                           </ul>
                           <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

                       </div>
                    </div>
                </div>
            </main>

            <!--푸터 절대 수정 금지!!!!-->
            <!--푸터-->
            <div th:replace="~{fragments/adminfooter::adminFooter}"></div>
        </div>
    </body>
</html>
