<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>일일 매출 현황</title>
</head>
<body style="font-family: 'Apple SD Gothic Neo', Arial, sans-serif; background-color: #f8f8f8; padding: 20px; text-align: center;">
<div style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px; border-radius: 10px; box-shadow: 0 4px 12px rgba(0,0,0,0.1); text-align:left;">
    <div style="text-align: center">
        <h2 style="color: #2c3e50;"><span th:text="${date}"></span> 일자 매출 현황</h2>
    </div>

<div style="text-align: center">
    <p style="font-size: 16px; line-height: 1.6;">
        안녕하세요 <span th:text="${name}"></span> 고객님, 전일자 <span th:text="${targetName}"></span>의 일일 매출 현황을 발송 드립니다.<br>
    </p>
</div>


        <div style="width: 500px; margin: 20px auto; background: rgb(44, 44, 44); border-radius: 12px 12px 4px 4px; overflow: hidden;">

        <div style=" color: white;
  font-weight: bold;
  padding: 5px 20px;
  border-bottom: 1px solid rgb(167, 159, 159);
  font-size: 0.95rem;">매출 및 만족도 평가 현황
            </div>
            <div style="font-size: 0.8rem;  display: flex;  justify-content: space-between;  border-right: 1px solid rgb(203, 203, 203);  border-left: 1px solid rgb(203, 203, 203);  border-bottom: 1px solid rgb(203, 203, 203);">
                <div style="width: 60%;  border-right: 1px solid rgb(203, 203, 203);">
                    <div style="  padding: 3px 0 3px 0.8em;  background-color: white;">전일자 총 매출
                    </div>
                    <div th:if="${totalScore}" style="  padding: 3px 0 3px 0.8em;    background: rgb(234, 235, 234);  ">전일자 NPS 평균 점수
                    </div>
                    <div th:if="${firstScore}" style="  padding: 3px 0 3px 0.8em;  background-color: white;">1번 문항
                    </div>
                    <div th:if="${secondScore}" style="  padding: 3px 0 3px 0.8em;    background: rgb(234, 235, 234);">2번 문항
                    </div>
                    <div th:if="${thirdScore}" style="  padding: 3px 0 3px 0.8em;  background-color: white;">3번 문항
                    </div>
                    <div th:if="${fourthScore}" style="  padding: 3px 0 3px 0.8em;    background: rgb(234, 235, 234);">4번 문항
                    </div>
                    <div th:if="${fifthScore}" style="  padding: 3px 0 3px 0.8em;  background-color: white;">5번 문항
                    </div>

                </div>
                <div style="  width: 40%;  text-align: end;">
                    <div style="  padding: 3px 0.8em 3px 0;  background-color: white;">[[${totalPrice}]] 원
                    </div>
                    <div  th:if="${totalScore}" style="  padding: 3px 0.8em 3px 0;    background: rgb(234, 235, 234);">[[${totalScore}]]점
                    </div>
                    <div  th:if="${firstScore}" style="  padding: 3px 0.8em 3px 0;  background-color: white;">[[${firstScore}]]점
                    </div>
                    <div  th:if="${secondScore}" style="  padding: 3px 0.8em 3px 0;    background: rgb(234, 235, 234);">[[${secondScore}]]점
                    </div>
                    <div  th:if="${thirdScore}" style="  padding: 3px 0.8em 3px 0;  background-color: white;">[[${thirdScore}]]점
                    </div>
                    <div  th:if="${fourthScore}" style="  padding: 3px 0.8em 3px 0;    background: rgb(234, 235, 234);">[[${fourthScore}]]점
                    </div>
                    <div  th:if="${fifthScore}" style="  padding: 3px 0.8em 3px 0;  background-color: white;">[[${fifthScore}]]점
                    </div>
                </div>
            </div>
        </div>


    <div style="text-align: center">

        <h2 style="color: #2c3e50;"><img src="cid:aiImage" style="width: 20px; height: 20px"/>AI의 매출 데이터 분석 솔루션!</h2>
    </div>

    <div style="margin-bottom : 30px; font-size: 16px; line-height: 1.6;" th:utext="${aiResponse}">

    </div>
    <div style="text-align: center">
        <p style="font-size: 16px; line-height: 1.6;">
            <strong>DeliNight</strong> 서비스를 이용해 주셔서 진심으로 감사드립니다.<br><br>
        </p>
        <p style="font-size: 14px; color: #7f8c8d;">
            ※ AI의 의견은 Open AI사의 Chat GPT 3.5 turbo 모델을 사용하여 분석한 결과로 분석 요청 매출 데이터는 첨부된 엑셀 파일을 참고하시기 바랍니다.
            ※ 본 메일은 발신 전용이며 회신하실 수 없습니다.
        </p>


        <p style="font-size: 14px; color: #bdc3c7;">
            문의사항은 홈페이지 고객센터 또는 앱을 통해 연락 부탁드립니다.
        </p>

    </div>
</body>
</html>
