<!DOCTYPE html>

<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      >
<head>
    <title>델리나잇 Deli-night</title>
</head>
<body>
    <nav th:fragment="adminHeader" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="#">Start Bootstrap</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
<!--        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">-->
<!--            <div class="input-group">-->
<!--                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />-->
<!--                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>-->
<!--            </div>-->
<!--        </form>-->
        <!-- Navbar-->
        <div class="navbar-nav ms-auto me-3 me-lg-4">
            <div class="navbar-hover">
                <div class="nav-link"><i class="fas fa-user"></i></div>
                <div class="profile-tooltip-wrap">
                    <div class="profile-tooltip">
                        <div class="profile-header">
                            <img class="avatar" src="/img/defaultImg.png" alt="#">
                            <div class="user-info">
                                <div class="user-info-title">
                                    <strong>최고관리자</strong>
                                    <a href="#">정보수정</a>
                                </div>
                                <div>guide@mysupereasy.co.kr</div>
                                <div><small>소속 총판이나 지사,호텔 이름</small></div>
                            </div>
                        </div>
                        <ul class="menu-list">
                            <li><i class="fas fa-home"></i> 홈 가기</li>
                            <li><i class="fas fa-shopping-cart"></i> 쇼핑몰 가기</li>
                            <li><i class="fas fa-globe"></i> 슈퍼이지 가기</li>
                        </ul>
                        <div class="logout-btn">로그아웃</div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>