<!DOCTYPE html>

<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      >
<head>
    <title>델리나잇 Deli-night</title>
</head>
<body>
    <nav th:fragment="adminHeader" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <div class="navbar-brand ps-3">
            <a class="navbar-brand-a" href="/">Deli-Nigth</a>
        </div>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
<!--        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">-->
<!--            <div class="input-group">-->
<!--                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />-->
<!--                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>-->
<!--            </div>-->
<!--        </form>-->
        <!-- Navbar-->
        <div class="navbar-nav ms-auto me-3 me-lg-4">
            <div class="navbar-hover">
                <div class="icon-wrap">
                    <div class="nav-link"><i class="fas fa-user"></i></div>
                    <span class="notification-badge custom-shadow" th:if="${alertCount>0}" th:text="${alertCount}">7</span>
                </div>
                <div class="profile-tooltip-wrap">
                    <div class="profile-tooltip custom-shadow">
                        <div class="profile-header">
                            <img class="avatar" src="/img/defaultImg.png" alt="#">
                            <div class="user-info">
                                <div class="user-info-title">

                                    <strong>[[${member.email}]]</strong>
                                    <div>최고관리자</div>

                                    <strong>홍길동</strong>
                                    <div>SuperADMIN</div>

                                </div>
                                <div>guide@mysupereasy.co.kr</div>
                                <div><span>호텔신라 서울신라호텔</span></div>
                            </div>
                        </div>
                        <ul class="menu-list">
                            <li><a href="/members/update"><i class="fas fa-pen"></i>정보수정</a></li>
                            <div class="icon-wrap">
                                <li><a><i class="fas fa-bell"></i>알림함</a></li>
                                <span class="notification-badge custom-shadow" th:if="${alertCount>0}" th:text="${alertCount}"></span>
                            </div>
                        </ul>
                        <a class="logout-btn">로그아웃</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>