<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="users/passwordChange" method="post">
    <div>
        이메일 : <input name="email"> <br>
        기존 비밀번호 : <input name="password"> <br>
        새로운 비밀번호 : <input name="passwordOne"> <br>
        새로운 비밀번호 확인 : <input name="passwordTwo">
    </div>
     <div>
         <button>비밀번호 변경</button>
     </div>
</form>
<script th:inline="javascript">

    let msg = [[${msg}]]

    if (msg){
        alert(msg)
    } /* 오류 메세지 */

    /* 유효성 검사 */
    function sean(object) {

        console.log(object.email.value.length)

        if (object.passwordOne.value !== object.passwordTwo.value){
            alert("새 비밀번호가 일치하지 않습니다.")
            return false
        }
        if (object.email.value.length <= 0){
            alert("이메일을 입력해주세요.")
            return false
        }
        if (object.password.value.length <= 0){
            alert("기존 비밀번호를 입력해주세요.")
            return false
        }
        return true


    }


</script>
</body>
</html>