<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="/users/singUp" method="post">
        <div>
            이름 : <input name="name"> <br>
            이메일 : <input name="email"> <br>
            비밀번호 : <input name="password"> <br>
            핸드폰번호 : <input name="phone"> <br>
            주소 : <input name="address"> <br>
        </div>
        <div>
            <button>회원가입</button>
        </div>
    </form>

</body>
</html>