<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/desktop/layout}"
>
<head>
    <title>델리나잇</title>
</head>

<body>
<!--이 줄 div layout:fragment명과 id명 절대 수정 금지!!!!-->
<div layout:fragment="adminContent" id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-5">
            <div class="card custom-shadow mb-4 mt-5">
                <div class="card-body">
                    <!--페이지 이름-->
                    <h3>직원 목록</h3>
                    <ol class="breadcrumb mb-5">
                        <a href="/members/account/home" class="breadcrumb-item active">홈</a>
                        <a href="#" class="breadcrumb-item active no-click">호텔 관리</a>
                    </ol>

                    <table class="table align-middle">

                        <thead>
                        <th>#</th>
                        <th>이름</th>
                        <th>이메일</th>
                        <th>전화번호</th>
                        <th>권한</th>
                        <th>소속</th>
                        <th>수정</th>
                        </thead>

                        <tbody>
                        <th:block th:each="list:${membersEntityList}">
                            <tr>
                                <th scope="row offset-4" th:text="${list.id}"></th>
                                <td><a th:data-num="${list.id}" th:href="@{/members/hotel/read(id=${list.id})}">
                                    [[${list.name}]]
                                </a>
                                </td>
                                <td th:text="${list.email}"></td>
                                <td th:text="${list.phone}"></td>

                                <td th:text="${list.role}"></td>
                                <td>

                                        <!--호텔 리스트 반복-->
                                        <select class="hotelSelect" name="hotelId">
                                            <!-- 호텔 리스트 반복 -->
                                            <th:block th:each="hotel : ${hotelEntityList}">
                                                <option id="op" th:value="${hotel.id}" th:text="${hotel.name}"></option>
                                            </th:block>
                                        </select>
                                        <button class="plusBtn btn btn-primary" th:value="${list.id}">+</button>
                                </td>

                                <td>
                                    <button class="btn btn-outline-primary" id="delBtn" th:value="${list.id}">삭제
                                    </button>
                                </td>

                            </tr>

                        </th:block>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>

    </main>

    <!--스크립트 시작 -->
    <script>
        $(document).on("click", ".plusBtn", function () {
            // let id = this.getAttribute("value")
            // let selectedOption = $(".hotelSelect").closest("td").find("option:selected");
            // let hotelId = selectedOption.val();
            // let hotelName = selectedOption.text();
            // alert(id)
            // alert(hotelId);
            // alert(hotelName)
            let selectBox = $(this).closest("td").find(".hotelSelect");

            // Find the selected option
            let selectedOption = selectBox.find("option:selected");

            // Get hotel ID and hotel Name
            let hotelId = selectedOption.val();    // Gets the value attribute
            let hotelName = selectedOption.text(); // Gets the visible text

            // Display the values
            alert("Selected Hotel ID: " + hotelId);
            alert("Selected Hotel Name: " + hotelName);

            $.ajax({
                url: "/hotel/rest/modify",
                type: "post",
                data: {
                    id: id,
                    hotelId: hotelId,
                    hotelName: hotelName
                },
                success: function (data) {
                    alert("성공")
                    alert(data)
                    location.reload();
                },
            })
        });

        $(function () {

            $(document).on("click", "#delBtn", function () {

                alert(123)
                let id = this.getAttribute("value");

                Swal.fire({
                    title: '삭제하시겠습니까?',
                    text: "데이터를 손실될 수 있씁니다.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: '취소',
                    confirmButtonText: '확인',
                    reverseButtons: false,

                }).then((result) => {

                    if (result.isConfirmed) {

                        $.ajax({
                            url: "/hotel/rest/del",
                            type: "delete",
                            data: {id: id},
                            success: function () {
                                Swal.fire(
                                    '삭제가 완료되었습니다.',
                                    'success'
                                ).then(() => {
                                    location.reload();
                                })
                            },
                            error: function () {

                            },
                        })


                    }

                })
        })
    </script>

    <!--스크립트 끝 -->

    <!--푸터 절대 수정 금지!!!!-->
    <!--푸터-->
    <div th:replace="~{fragments/desktop/adminfooter::adminFooter}"></div>
</div>
</body>
</html>
