<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/desktop/layout}"
>
<head>
    <title>델리나잇</title>
</head>

<body>
<!--이 줄 div layout:fragment명과 id명 절대 수정 금지!!!!-->
<div layout:fragment="adminContent" id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-5">
            <!--텍스트 박스-->
            <div class="card custom-shadow mb-4 mt-5">
                <div class="card-body">
                    <!--페이지 이름-->
                    <h3 th:text="${hotel.name}"></h3>
                    <ol class="breadcrumb mb-5">
                        <a href="/members/account/home" class="breadcrumb-item active">홈</a>
                        <a href="#" class="breadcrumb-item active no-click">호텔 정보</a>
                    </ol>


                    <div class="row mb-2">
                        <label class="col-sm-2 col-form-label form-label">브랜드</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control-plaintext" readonly th:value="${hotel.brandDTO.name}">
                        </div>
                    </div>


                    <div class="row mb-2">
                        <label class="col-sm-2 col-form-label form-label">호텔명</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control-plaintext" id="staticMembersName" readonly th:value="${hotel.name}">
                        </div>
                    </div>


                    <div class="row mb-2">
                        <label class="col-sm-2 col-form-label form-label">설명</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control-plaintext" readonly th:value="${hotel.content}">
                        </div>
                    </div>


                    <div class="row mt-5">
                        <label class="col-sm-2 col-form-label form-label">대표이미지</label>
                        <div class="col-sm-6">
                            <img class="rounded-2" width="70%" th:src="${imgUrl}">
                        </div>
                    </div>

                    <div class="text-center mt-5">
                        <a onclick="javascript:history.back()" class="btn btn-gray">취소</a>
                        <a th:href="@{/members/hotel/update/{id}(id=${hotel.id})}" class="btn btn-primary">수정</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--푸터 절대 수정 금지!!!!-->
    <!--푸터-->
    <div th:replace="~{fragments/desktop/adminfooter::adminFooter}"></div>
</div>
</body>
</html>
