<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/desktop/layout}"
>
<head>
    <title>델리나잇</title>
</head>

<body>
<div layout:fragment="adminContent" id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-5">
            <div class="card custom-shadow mt-5 mb-4">
                <div class="card-body">
                    <h3>호텔 정보 수정</h3>
                    <ol class="breadcrumb mb-5">
                        <a href="/members/account/dashHub" class="breadcrumb-item active">홈</a>
                        <a href="/members/hotel/read2" class="breadcrumb-item active">호텔 정보</a>
                    </ol>

                    <form action="/members/hotel/update" method="post" enctype="multipart/form-data">

                        <div class="d-flex">
                            <div class="w-50">
                                <input hidden readonly name="id" class="hotelId" th:value="${hotel.id}">
                                <div class="hiddenImgNum"></div>
                                <input type="hidden" name="id" th:value="${hotel.id}">


                                <div class="row mb-3">
                                    <label class="form-label col-sm-3">브랜드</label>
                                    <div class="col-sm-6">
                                        <select class="form-select brandID" name="brandId">
                                            <!-- 현재 선택된 브랜드 -->
                                            <optgroup label="현재 선택된 브랜드">
                                                <option  selected th:value="${hotel.brandDTO.id}">[[${hotel.brandDTO.name}]]</option>
                                            </optgroup>

                                            <!-- 선택 가능한 브랜드 목록 -->
                                            <optgroup label="브랜드 목록">
                                                <option  th:each="brand : ${brandList}" th:value="${brand.id}">[[${brand.name}]]</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-3 col-form-label form-label">호텔명</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control hotelName" name="name" th:value="${hotel.name}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-3 col-form-label form-label">설명</label>
                                    <div class="col-sm-8">
                                        <textarea name="content" class="form-control hotelContent" th:text="${hotel.content}"></textarea>                                    </div>
                                </div>

                                <div class="row mt-5">
                                    <label class="col-sm-3 col-form-label form-label">대표이미지</label>
                                    <div class="col-sm-8">
                                        <label>
                                            <input name="image" type="file" class="form-control image imgInput">
                                        </label>
                                        <div class="text-sm mt-1">
                                            정사각형 이미지로 넣어주세요.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-50">
                                <img class="hotelImg" th:src="${imgUrl}">
                            </div>
                        </div>

                        <div class="mt-5 text-center">
                            <button type="submit" class="btn btn-primary saveBtn">저장</button>
                            <a th:href="@{/members/hotel/read2}" class="btn btn-gray">취소</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/imgscript.js" text="javascript"></script>

    <!--스크립트 시작 -->
    <script>

        $(function () {

            // $(".saveBtn").on("click", function () {
            //
            //     let imgInput = $(".hiddenImgNum").val();
            //     let hotelName = $(".hotelName").val();
            //     let hotelContent = $(".hotelContent").val();
            //     let brandId = $(".brandID").val();
            //     let hotelId = $(".hotelId").val();
            //
            //     alert(brandId)
            //     alert(hotelId)
            //     alert(imgInput)
            //     alert(hotelId)
            //
            //     $.ajax({
            //         url: "/members/hotel/update",
            //         type: "post",
            //         data: {
            //             name : hotelName,
            //             content: hotelContent,
            //             imgNum : imgInput,
            //             brandId : brandId,
            //             hotelId : hotelId
            //
            //         },
            //         success: function (msg) {
            //             alert("성공")
            //         },
            //         error: function () {
            //             alert("오류 발생")
            //         },
            //     })
            // });


            $(document).on("click", "#delBtn", function () {

                alert(123)
                let id = this.getAttribute("value");

                Swal.fire({
                    title: '삭제하시겠습니까?',
                    text: "데이터를 손실될 수 있씁니다.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: '취소',
                    confirmButtonText: '확인',
                    reverseButtons: false,

                }).then((result) => {

                    if (result.isConfirmed) {

                        $.ajax({
                            url: "/hotel/rest/del",
                            type: "delete",
                            data: {id: id},
                            success: function () {
                                Swal.fire(
                                    '삭제가 완료되었습니다.',
                                    'success'
                                ).then(() => {
                                    location.reload();
                                })
                            },
                            error: function () {

                            },
                        })


                    }

                })
            });
        })
    </script>

    <!--스크립트 끝 -->

    <!--푸터 절대 수정 금지!!!!-->
    <!--푸터-->
    <div th:replace="~{fragments/desktop/adminfooter::adminFooter}"></div>
</div>
</body>
</html>
