<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
    <head>
        <title>델리나잇</title>

        <!--별도 css 필요할 시 아래로 추가-->
        <!--어디서 그대로 가져오는거 아니면 클래스 이름 잘 붙여주고
        styles.css에 작성할것-->
    </head>

    <body>
        <!--이 줄 div layout:fragment명과 id명 절대 수정 금지!!!!-->
        <div layout:fragment="adminContent" id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <!--내용 넣는 곳-->
                    <!--반드시 이 아래에서만 작업-->

                    <!--페이지 이름-->
                    <h1 class="mt-4">Dashboard</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dashboard-subheading</li>
                    </ol>

                    <!--텍스트 박스-->
                    <div class="card mb-4">
                       <div class="card-body">
                           <!--<pre> 코드는 <>를 문자 그대로 쓸 수 있게 해준다-->
                           <pre><b>윤동주 - <서시></b></pre>
                           죽는날 까지 하늘을 우러러
                           한점 부끄럼이 없기를<br>
                           잎새에 이는 바람에도
                           나는 괴로워 했다<br>
                           별을 노래하는 마음으로
                           모든 죽어가는 것을 사랑해야지<br>
                           그리고 나에게 주어진 길을
                           걸어가야겠다<br><br>
                           오늘밤에도 별이 바람에 스치운다
                       </div>
                    </div>

                    <!--알럿창-->
                    <div class="card mb-4">
                        <div class="card-header">
                            <!--아이콘-->
                            <!--카드헤더 제목 넣는곳-->
                            <i class="fas fa-table me-1"></i>

                            알럿창
                        </div>
                        <div class="card-body">
                            <!--카드바디 내용 넣는곳-->
                            <button class="btn btn-primary m-2" id="alertStart">Alert 실행</button>
                            <button class="btn btn-secondary m-2" id="confirmStart">Confirm 실행</button>
                            <button class="btn btn-success m-2" id="promptStart">Prompt 실행</button>
                            <button class="btn btn-danger m-2" id="toastStart">Toast 실행</button>
                            <button class="btn btn-warning m-2" id="ajaxStart">Ajax 실행 (깃헙 아이디 검색)</button>
                        </div>
                    </div>

                    <!--카드-->
                    <div class="card mb-4">
                        <div class="card-header">
                            <!--아이콘-->
                            <!--카드헤더 제목 넣는곳-->
                            <i class="fas fa-table me-1"></i>

                            card title
                        </div>
                        <div class="card-body">
                            <!--카드바디 내용 넣는곳-->
                            <div>
                                내용내용내용내용내용내용내용
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <!--푸터 절대 수정 금지!!!!-->
            <!--푸터-->
            <div th:replace="~{fragments/adminfooter::adminFooter}"></div>
        </div>
    </body>
</html>
