<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
    <head>
        <title>델리나잇</title>
    </head>

    <body>
        <div layout:fragment="index">
            <h1>index = 메인페이지</h1>
            <h1>index = 메인페이지</h1>
            <h1>index = 메인페이지</h1>
            <h1>index = 메인페이지</h1>
            <h1>index = 메인페이지</h1>
            <h1>index = 메인페이지</h1>
            <h1>index = 메인페이지</h1>
        </div>
    </body>
</html>
