<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"

>
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>메뉴 등록</title>

</head>
<body>

    <h1>메뉴 등록</h1>

    <form action="/menu/register" method="post" class="formWrap">
        메 뉴 : <input name="name" class="name"><br>
        상세설명 : <input name="content" class="content"><br>
        가격 : <input name="price" class="price"><br>
        판매상태 : <input name="menuStatus" class="menuStatus"><br>
        이미지 등록하기 : <input type="file" class="imgInput">
        <img class="menuImg" src="/img/defaultImg.png">
        <button type="submit">저장</button>
        <div class="hiddenImgNum"></div>

    </form>
    <script type="text/javascript" src="/js/imgscript.js"></script>


</body>
</html>