<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <h1>스토어 정산 내역</h1>
  <table style="border: #0a0a0a" id="paymentTable">
      <thead>
          <tr>
              <th>결제 ID</th>
              <th>결제 상태</th>
              <th>정산여부</th>
              <th>결제타입</th>
              <th>등록일</th>
          </tr>
      </thead>
      <tbody id="paymentTableBody">

      </tbody>
  </table>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
      const url = `/api/payment/storePayment`;

      $.ajax({
          url: url,
          method: "GET",
          data: {
              storeId: 1,
              startDate: "2025-04-01T00:00:00",
              endDate: "2025-04-30T23:59:59",
              orderType: "PAYNOW",
              paidCheck: "paid"
          },
          success: function(data) {
              const tableBody = document.getElementById("paymentTableBody");
              tableBody.innerHTML = "";

              data.forEach(payment => {
                  const row = document.createElement("tr");
                  row.innerHTML = `
                    <td>${payment.id}</td>
                    <td>${payment.PaymentStatus}</td>
                    <td>${payment.paidCheck}</td>
                    <td>${payment.orderType}</td>
                    <td>${payment.regTime}</td>
                `;
                  tableBody.appendChild(row);
              });
          },
          error: function(xhr, status, error) {
              console.error("데이터 불러오기 실패", error);
          }
      });
  </script>

</body>
</html>