<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
    <head>
        <title>델리나잇</title>

        <!--별도 css 필요할 시 아래로 추가-->
        <!--어디서 그대로 가져오는거 아니면 클래스 이름 잘 붙여주고
        styles.css에 작성할것-->
    </head>

    <body>
        <div layout:fragment="adminContent" id="layoutSidenav_content">
            <main>
                <!--내용 넣는 곳-->
                <div class="container-fluid px-4">
                    <!--페이지 이름-->
                    <h1 class="mt-4">문의사항 수정</h1>
                    <!--텍스트 박스-->
                    <div class="row mt-5">
                       <div class="col-2"></div>
                       <div class="col-6">
                           <form action="/qna/update" th:object="${qnaDTO}" method="post">
                               <div class="card">
                                   <div class="card-header">문의사항 수정</div>
                                   <div class="card-body">
                                       <div class="row md-3">
                                           <label for="id" class="col-sm-4 col-form-label">글번호</label>
                                           <div class="row-md-3">
                                               <input type="text" readonly class="form-control-plaintext" id="id" th:field="*{id}">
                                           </div>
                                       </div>
                                       <div class="row md-3">
                                           <label for="title" class="col-sm-4 col-form-label">제목</label>
                                           <div class="row-md-3">
                                               <input type="text" class="form-control" id="title" th:field="*{title}">
                                           </div>
                                       </div>
                                       <div class="row md-3">
                                           <label for="content" class="col-sm-4 col-form-label">제목</label>
                                           <div class="row-md-3">
                                               <input type="text" class="form-control" id="content" th:field="*{content}">
                                           </div>
                                       </div>
                                       <button type="submit" class="btn btn-primary">수정</button>
                                       <button type="submit" class="btn btn-danger">삭제</button>
                                   </div>
                               </div>

                           </form>

                       </div>
                    </div>
                </div>
            </main>

            <!--푸터 절대 수정 금지!!!!-->
            <!--푸터-->
            <div th:replace="~{fragments/adminfooter::adminFooter}"></div>
        </div>
    </body>
</html>
