<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPS 설문</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        label {
            margin-top: 10px;
        }
        input[type="radio"] {
            margin-left: 5px;
        }
        button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
<h1>NPS 설문</h1>

<form id="npsForm">
    <!-- 호텔 설문 항목 -->
    <div id="hotelQuestions">
        <h3>호텔 설문</h3>
        <label>호텔에 대한 질문 1:</label>
        <input type="radio" name="hotelQuestions[0]" value="1"> 1
        <input type="radio" name="hotelQuestions[0]" value="2"> 2
        <input type="radio" name="hotelQuestions[0]" value="3"> 3
        <input type="radio" name="hotelQuestions[0]" value="4"> 4
        <input type="radio" name="hotelQuestions[0]" value="5"> 5

        <label>호텔에 대한 질문 2:</label>
        <input type="radio" name="hotelQuestions[1]" value="1"> 1
        <input type="radio" name="hotelQuestions[1]" value="2"> 2
        <input type="radio" name="hotelQuestions[1]" value="3"> 3
        <input type="radio" name="hotelQuestions[1]" value="4"> 4
        <input type="radio" name="hotelQuestions[1]" value="5"> 5

        <label>호텔에 대한 질문 3:</label>
        <input type="radio" name="hotelQuestions[2]" value="1"> 1
        <input type="radio" name="hotelQuestions[2]" value="2"> 2
        <input type="radio" name="hotelQuestions[2]" value="3"> 3
        <input type="radio" name="hotelQuestions[2]" value="4"> 4
        <input type="radio" name="hotelQuestions[2]" value="5"> 5

        <label>호텔에 대한 질문 4:</label>
        <input type="radio" name="hotelQuestions[3]" value="1"> 1
        <input type="radio" name="hotelQuestions[3]" value="2"> 2
        <input type="radio" name="hotelQuestions[3]" value="3"> 3
        <input type="radio" name="hotelQuestions[3]" value="4"> 4
        <input type="radio" name="hotelQuestions[3]" value="5"> 5

        <label>호텔에 대한 질문 5:</label>
        <input type="radio" name="hotelQuestions[4]" value="1"> 1
        <input type="radio" name="hotelQuestions[4]" value="2"> 2
        <input type="radio" name="hotelQuestions[4]" value="3"> 3
        <input type="radio" name="hotelQuestions[4]" value="4"> 4
        <input type="radio" name="hotelQuestions[4]" value="5"> 5
    </div>

    <!-- 스토어 설문 항목 -->
    <div class="storeNPSWrap"></div>

    <!-- 제출 버튼 -->
    <button type="button" id="saveSurveyBtn">설문 제출</button>
</form>

<script th:inline="javascript">

    $(document).ready(function() {

        let data = [[${storeDTOList}]]
        let str = ""

        data.forEach(storeDTO=>
        {
            str += "<div id=\"storeQuestions\" data-storeid='"+storeDTO.id+"'>\n" +
                "        <h3>"+storeDTO.name+" 설문</h3>\n" +
                "        <label>스토어에 대한 질문 1:</label>\n" +
                "        <input type=\"radio\" name='storeQuestions[0]"+storeDTO.id+"' value=\"1\"> 1\n" +
                "        <input type=\"radio\" name='storeQuestions[0]"+storeDTO.id+"'  value=\"2\"> 2\n" +
                "        <input type=\"radio\" name='storeQuestions[0]"+storeDTO.id+"'  value=\"3\"> 3\n" +
                "        <input type=\"radio\" name='storeQuestions[0]"+storeDTO.id+"'  value=\"4\"> 4\n" +
                "        <input type=\"radio\" name='storeQuestions[0]"+storeDTO.id+"'  value=\"5\"> 5\n" +
                "\n" +
                "        <label>스토어에 대한 질문 2:</label>\n" +
                "        <input type=\"radio\" name='storeQuestions[1]"+storeDTO.id+"'  value=\"1\"> 1\n" +
                "        <input type=\"radio\" name='storeQuestions[1]"+storeDTO.id+"'  value=\"2\"> 2\n" +
                "        <input type=\"radio\" name='storeQuestions[1]"+storeDTO.id+"'  value=\"3\"> 3\n" +
                "        <input type=\"radio\" name='storeQuestions[1]"+storeDTO.id+"'  value=\"4\"> 4\n" +
                "        <input type=\"radio\" name='storeQuestions[1]"+storeDTO.id+"'  value=\"5\"> 5\n" +
                "\n" +
                "        <label>스토어에 대한 질문 3:</label>\n" +
                "        <input type=\"radio\" name='storeQuestions[2]"+storeDTO.id+"'  value=\"1\"> 1\n" +
                "        <input type=\"radio\" name='storeQuestions[2]"+storeDTO.id+"'  value=\"2\"> 2\n" +
                "        <input type=\"radio\" name='storeQuestions[2]"+storeDTO.id+"'  value=\"3\"> 3\n" +
                "        <input type=\"radio\" name='storeQuestions[2]"+storeDTO.id+"'  value=\"4\"> 4\n" +
                "        <input type=\"radio\" name='storeQuestions[2]"+storeDTO.id+"'  value=\"5\"> 5\n" +
                "\n" +
                "        <label>스토어에 대한 질문 4:</label>\n" +
                "        <input type=\"radio\" name='storeQuestions[3]"+storeDTO.id+"'  value=\"1\"> 1\n" +
                "        <input type=\"radio\" name='storeQuestions[3]"+storeDTO.id+"'  value=\"2\"> 2\n" +
                "        <input type=\"radio\" name='storeQuestions[3]"+storeDTO.id+"'  value=\"3\"> 3\n" +
                "        <input type=\"radio\" name='storeQuestions[3]"+storeDTO.id+"'  value=\"4\"> 4\n" +
                "        <input type=\"radio\" name='storeQuestions[3]"+storeDTO.id+"'  value=\"5\"> 5\n" +
                "\n" +
                "        <label>스토어에 대한 질문 5:</label>\n" +
                "        <input type=\"radio\" name='storeQuestions[4]"+storeDTO.id+"'  value=\"1\"> 1\n" +
                "        <input type=\"radio\" name='storeQuestions[4]"+storeDTO.id+"'  value=\"2\"> 2\n" +
                "        <input type=\"radio\" name='storeQuestions[4]"+storeDTO.id+"'  value=\"3\"> 3\n" +
                "        <input type=\"radio\" name='storeQuestions[4]"+storeDTO.id+"'  value=\"4\"> 4\n" +
                "        <input type=\"radio\" name='storeQuestions[4]"+storeDTO.id+"'  value=\"5\"> 5\n" +
                "    </div>"

        })

        $(".storeNPSWrap").html(str)
        console.log(data)

        $('#saveSurveyBtn').click(function() {

            let npsList = []

            // 호텔 질문 수집
            let hotelDTO = {
                checkOutId:[[${checkOutId}]],
                hotelOrStore: "hotel",
                hotelId: [[${hotelId}]],
                QuestionOne: parseInt($('input[name="hotelQuestions[0]"]:checked').val()) || 0,
                QuestionTwo: parseInt($('input[name="hotelQuestions[1]"]:checked').val()) || 0,
                QuestionThree: parseInt($('input[name="hotelQuestions[2]"]:checked').val()) || 0,
                QuestionFour: parseInt($('input[name="hotelQuestions[3]"]:checked').val()) || 0,
                QuestionFive: parseInt($('input[name="hotelQuestions[4]"]:checked').val()) || 0
            }
            npsList.push(hotelDTO)

            // 각 스토어 질문 수집
            $('.storeNPSWrap > div').each(function() {

                let storeId = $(this).data('storeid')
                let storeDTO = {
                    hotelOrStore: "store",
                    storeId: storeId,
                    QuestionOne: parseInt($(this).find('input[name="storeQuestions[0]' + storeId + '"]:checked').val()) || 0,
                    QuestionTwo: parseInt($(this).find('input[name="storeQuestions[1]' + storeId + '"]:checked').val()) || 0,
                    QuestionThree: parseInt($(this).find('input[name="storeQuestions[2]' + storeId + '"]:checked').val()) || 0,
                    QuestionFour: parseInt($(this).find('input[name="storeQuestions[3]' + storeId + '"]:checked').val()) || 0,
                    QuestionFive: parseInt($(this).find('input[name="storeQuestions[4]' + storeId + '"]:checked').val()) || 0
                };
                npsList.push(storeDTO)
            })

            console.log(npsList); // 확인용 콘솔 출력

            // AJAX 전송
            $.ajax({
                url: '/api/nps/saveSurvey',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(npsList),
                success: function(response) {
                    alert('설문 저장 성공: ' + response)
                },
                error: function(xhr) {
                    alert('설문 저장 실패: ' + xhr.responseText)
                }
            })
        })
    })
</script>
</body>
</html>
