<!DOCTYPE html>

<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/desktop/layout}"
      >
<head>
    <title>사이드바&컨텐츠</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <div th:fragment="adminFooter" id="adminFooter">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">
                        Copyright &copy; Deli-Night 2025
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>