<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutOne}"
>
<head>
    <meta charset="UTF-8">
    <title>장바구니 리스트</title>

</head>
<body>
<div>
    <div layout:fragment="usercontent">

        <div class="cartList">



        </div>
        <div>
            <p><span>총 가격 : </span><span class="totalPrice"></span></p>
        </div>
        <button type="button" class="clearBtn btn btn-danger">장바구니 비우기</button>
        <button type="button" class="orderBtn btn btn-primary">주문하기</button>


        <script type="text/javascript" th:src="@{/js/cart.js}"></script>
    </div>

</div>


</body>
</html>