<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mobile/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>주문 하기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <style>
        .requestMemo{
            width: 100%;
        }
        .wrapper {
            width: 100%;
            position: relative;
        }

        .input {
            width: 100%;
            height: 150px;
            border-radius: 5px;
            border: 1px #323232 solid;
            padding: 5px 15px;
            background-color: white;
            font-size: 15px;
            font-weight: 500;
        }

        .placeholder {
            width: 30%;
            position: absolute;
            top: -18px;
            left: 85%;
            transform: translateX(-50%);
            z-index: 2;
            text-align: center;
            color: black;
            background-color: white;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 1.5px;
            transition: all 0.3s;
            opacity: 0;
        }

        .input::placeholder {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1px;
        }

        .input:focus + .placeholder {
            opacity: 1;
        }

        .input:focus {
            outline: 2px solid black;
            border: none;
            color: black;
        }

        .input:focus::placeholder {
            opacity: 0;
        }

        .itemContents{
            display: flex;
            flex-direction: column;
            justify-content: space-between; /* 위, 중간, 아래 */
            height: 100%; /* 부모 높이만큼 늘어남 */
            gap: 4px; /* 선택: 요소 간 간격 */
        }
        .itemOrders {
            gap: 3px;
            padding: 0;
            align-items: center;
        }
        .order-item-tag {
            font-size: 12px;
            display: inline-block;
            border: 1px solid black;
            border-radius: 8px;
            padding: 2px 6px;
            margin-right: 3px;
            margin-bottom: 3px;
        }
    </style>

</head>
<body>
<div>
    <div class="container-fluid px-3 flex-grow-1 d-flex flex-column" layout:fragment="content">



    <div class="orderList">
            <h4 style="margin-bottom: 10px; margin-top: 10px; font-size: 1.2em; font-weight: bold">주문 내역</h4>

            <div class="row itemWrap" th:each="ordersDTO : ${ordersDTOList}">
                <div class="row mb-2">
                <div class="col-4">
                    <div style="width: 100px; height: 100px"><img class="imgBox" th:src="${ordersDTO.storeDTO.getImgUrl()}"></div>
                </div>
                <div class="col-8 itemContents">
                    <div class="row itemName">[[${ordersDTO.storeDTO.getName()}]]
                    </div>
                    <div class="row itemContent">[[${ordersDTO.storeDTO.getContent()}]]</div>
                    <div class="itemOrders" style="margin-left: -15px"><span th:each="ordersItem : ${ordersDTO.ordersItemDTOList}" class="order-item-tag">
                        [[${ordersItem.menuDTO.name}]]
                    </span>

                    </div>
                </div></div>

                <div class="requestMemo row">
                    <label class="wrapper">
                        <input type="text" placeholder="요청 사항을 입력해 주세요" class="input memos" th:data-textareaid="${ordersDTO.id}">
                        <span class="placeholder">요청 사항</span>
                    </label>


                </div>

            </div>


        </div>
        <div class="receiptWrap">
            <h4 style="margin-bottom: 10px; margin-top: 10px; font-size: 1.2em; font-weight: bold">구매 금액</h4>
            <div class="storeReceipt">
                <p th:each="order:${ordersDTOList}"
                   style="margin-bottom: 5px; display: flex; justify-content: space-between">
                    <span th:text="${order.storeDTO.name}"></span>
                    <span th:text="${#numbers.formatInteger(order.totalPrice, 3, 'COMMA') + '원'}"></span>
                </p>
                <p style="margin-top:10px; margin-bottom:10px; display: flex; justify-content: space-between;"><span>총 결제 금액</span><span
                        th:text="${#numbers.formatInteger(totalPrice, 3, 'COMMA') + '원'}"></span></p>
            </div>
        </div>


<!--        &lt;!&ndash;포인트&ndash;&gt;-->
<!--        <div class="pointWrap mt-4 mb-4 p-3 border rounded">-->
<!--            <h5 style="font-size: 1.1em; font-weight: bold;">포인트 사용</h5>-->

<!--            &lt;!&ndash; 보유 포인트 &ndash;&gt;-->
<!--            <div style="margin-bottom: 10px; display: flex; justify-content: space-between;">-->
<!--                <span>보유 포인트:</span>-->
<!--                <span id="userPoint">0 P</span> &lt;!&ndash; JS로 보유 포인트 주입 &ndash;&gt;-->
<!--            </div>-->

<!--            &lt;!&ndash; 포인트 입력 + 전부사용 버튼 &ndash;&gt;-->
<!--            <div class="input-group mb-2">-->
<!--                <input type="number" class="form-control" id="usedPoint" placeholder="사용할 포인트 입력" min="0" step="100">-->
<!--                <button class="btn btn-outline-secondary" type="button" onclick="useAllPoint()">전부 사용</button>-->
<!--            </div>-->

<!--            &lt;!&ndash; 안내 문구 &ndash;&gt;-->
<!--            <div style="font-size: 14px; color: gray;">-->
<!--                ※ 포인트를 사용하면 적립되지 않습니다-->
<!--            </div>-->
<!--        </div>-->

        <!-- 결제 금액 -->
        <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
            <span><b>최종 결제 금액</b></span>
            <span id="finalPrice">0원</span>
        </div>
        <!--포인트-->






        <div style="display: flex; align-items: center; height: 40px">
            <button type="button" class="orderBtn"
                    style="justify-content:center; display: flex; align-items: center; height: 40px; font-size:0.8em; background-color: black; color: white; border: 1px solid black" onclick="payNow()">
                지금 결제하기 &nbsp<img src="/img/credit-card-fill.svg" style="height: 16px; width: 16px"></button>
            <button type="button" class="clearBtn" onclick="payLater()"
                    style="justify-content:center; display: flex; align-items: center; height: 40px; font-size:0.8em; background-color: white; color: black; border: 1px solid black">
                체크아웃 시 결제하기 &nbsp<img src="/img/credit-card-fill2.svg" style="height: 16px; width: 16px"></button>
        </div>

        <script src="https://js.tosspayments.com/v2/standard"></script>
        <script th:inline="javascript">
            $(function () {
                $(".userHeaderMsg").html("주문 하기").css("font-weight", "bold").css("font-size","20px")

            })
            const clientKey = "test_ck_ORzdMaqN3w2vglwzRppB85AkYXQG";
            const tossPayments = TossPayments(clientKey);
            const payment = tossPayments.payment({customerKey: TossPayments.ANONYMOUS})
            var amount = 200;
            var paymentKey = "OZTaYzXS2ovigwYnGcrTx";
            var userEmail = "dlwlgh908@naver.com"
            var userName = "이지호"
            var userPhone = "01056291665"

            async function requestPayment() {
                detectCloseModal()
                await payment.requestPayment({
                    method: "CARD",
                    amount: {
                        currency: "KRW",
                        value: amount,
                    },
                    orderId: paymentKey,
                    orderName: "음식 룸서비스 주문 내역",
                    successUrl: window.location.origin + "/success",
                    failUrl: window.location.origin + "/users/order/hub",
                    customerEmail: userEmail,
                    customerName: userName,
                    customerMobilePhone: userPhone,
                    card: {
                        useEscrow: false,
                        flowMode: "DEFAULT",
                        useCardPoint: false,
                        useAppCardOnly: false,
                    },
                })
            }

            function payNow(){


                // 전체 결제 금액을 Thymeleaf로부터 가져와 JS 변수로 생성
                const totalPrice = parseInt([[${totalPrice}]]);

                // TossPayments 결제 금액을 포인트를 차감한 최종 금액으로 설정

                console.log("totalPrice: ", totalPrice);
                console.log("amount: ", amount);  // amount가 0으로 찍히는지 확인

                // 1. 메모 저장: 사용자가 입력한 요청사항을 주문별로 서버로 전송합니다.
                $(".memos").each(function () {
                    let memoObject = $(this); //현재 메모 input 엘리먼트
                    let ordersId = memoObject.data("textareaid"); //해당 주문 id
                    $.ajax({
                        url: "/roomService/order/payNow",
                        type: "post",
                        data: {"ordersId": ordersId, "memo": memoObject.val()},
                        success: function () {
                             requestPayment();


                        },
                        error: function () {}
                    });
                });

                // 2. 사용자가 포인트를 입력해서 쓰는 경우
                if (usedPoint > 0) {
                    $.ajax({
                        url: "/api/user/point/use",
                        type: "post",
                        async: false, // 중요: 포인트 처리 후 결제 요청하도록 동기 처리
                        data: {
                            usersId: [[${usersId}]],
                            paymentId: paymentKey,
                            usedPoint: usedPoint
                        },
                        success: function () {
                            console.log("포인트 사용 완료");
                            requestPayment(); //포인트 사용 후 결제
                        },
                        error: function () {
                            alert("포인트 사용 오류");
                        }
                    });
                }else {
                    // 3. 결제 요청
                    requestPayment(); //포인트 사용 안 하면 바로 결제
                }

                detectCloseModal(); //모달 감지는 항상


            }


            function payNow(){
                $(".memos").each(function (memo) {
                        let memoObject = $(this)
                        let ordersId = memoObject.data("textareaid")
                        $.ajax({
                            url: "/roomService/order/payNow",
                            type: "post",
                            data:{"ordersId":ordersId, "memo":memoObject.val()},
                            success:function (){
                            },
                            error:function (){
                            }
                        })
                    }
                )

                requestPayment()
            }


            function detectCloseModal() {

                const observer = new MutationObserver((mutationsList, observer) => {
                    const iframeExists = document.querySelector("iframe[src*='tosspayments']");
                    if (!iframeExists) {
                        // 여기서 서버 처리, 모달 닫기 등 네 맘대로 해
                        observer.disconnect();

                    }
                });

                observer.observe(document.body, {childList: true, subtree: true});


            }

            function payLater() {
                $(".memos").each(function (memo) {
                        let memoObject = $(this)
                        let ordersId = memoObject.data("textareaid")
                        $.ajax({
                            url: "/roomService/order/payLater",
                            type: "post",
                            data:{"ordersId":ordersId, "memo":memoObject.val()},

                            success:function(){
                                window.location.href = "/users/order/list";
                            },
                            error:function (){
                                alert("후결제로 바꾸면서 오류 ")
                            }
                        })
                    }
                )


            }

        </script>




        <!--포인트-->
        <script>
            $(document).ready(function () {
                // // const usersId = /*[[${usersId}]]*/ 1; // Thymeleaf 변수
                // const usersId = [[${usersId}]] ; // Thymeleaf 변수
                // // const totalPrice = parseInt(/*[[${totalPrice}]]*/ 20000); // 결제금액
                // const totalPrice = parseInt([[${totalPrice}]] ); // 결제금액
                //
                // // 보유 포인트 조회
                // $.ajax({
                //     url: "/api/user/point",
                //     type: "get",
                //     data: { usersId: usersId },
                //     success: function (data) {
                //         const userPoint = data.point;
                //         $("#userPoint").text(userPoint + " P");
                //
                //         //포인트 입력 및 제어
                //         $("#usedPoint").on("input", function () {
                //             let val = parseInt($(this).val()) || 0;
                //
                //             if (val < 0) val = 0; //사용자가 -10 같이 잘못된 음수를 입력하면 0으로 고정합니다.
                //             if (val > userPoint) val = userPoint; //입력값이 보유 포인트보다 크면 보유 포인트로 제한
                //             if (val > totalPrice) val = totalPrice; //입력값이 총 결제 금액보다 크면, 결제 금액까지만 사용할 수 있도록 제한
                //
                //             $(this).val(val);
                //             updateFinalPrice(val);
                //             //현재 사용한 포인트를 바탕으로 최종 결제 금액을 실시간으로 업데이트
                //
                //         });
                //
                //         //포인트 전부 사용 버튼 클릭
                //         window.useAllPoint = function () {
                //             let maxUsable = Math.min(userPoint, totalPrice);//최대 사용 가능한 포인트
                //             $("#usedPoint").val(maxUsable); //포인트 입력창에 최대값을 자동으로 채우고
                //             updateFinalPrice(maxUsable); //최종 결제 금액을 다시 계산
                //         };
                //
                //         updateFinalPrice(0);
                //         //페이지가 처음 로딩될 때, 포인트 사용없이 결제금액을 보여주기 위해 0으로 계산한다
                //     },
                //     error: function () {
                //         // alert("포인트 조회 실패");
                //     }
                // });
                //
                // // 결제 최종 금액 갱신 함수
                // function updateFinalPrice(usedPoint) {
                //     const final = totalPrice - usedPoint;
                //     $("#finalPrice").text(final.toLocaleString() + "원");
                // }

            });
        </script>



    </div>


</div>

</body>
</html>