<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/desktop/layout}"
>
<head>
    <title>델리나잇</title>
</head>

    <body>
        <div layout:fragment="adminContent" id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-5">
                    <div class="card mb-4 custom-shadow mt-5">
                       <div class="card-body">
                           <h3>정보수정</h3>
                           <ol class="breadcrumb mb-5">
                               <a href="/members/account/dashHub" class="breadcrumb-item active">홈</a>
                               <a href="/members/account/mypage" class="breadcrumb-item active">내 정보</a>
                           </ol>

                           <form action="/members/account/update" method="post" enctype="multipart/form-data">
                               <div class="row mb-1">
                                   <label class="col-sm-2 col-form-label form-label">관리자 이름</label>
                                   <div class="col-sm-4">
                                       <input type="text" readonly class="form-control-plaintext" th:value="${member.name}">
                                   </div>
                               </div>

                               <div class="row mb-1">
                                   <label class="col-sm-2 col-form-label form-label">관리자 등급</label>
                                   <div class="col-sm-4">
                                       <input type="text" readonly class="form-control-plaintext" th:value="${member.role}">
                                   </div>
                               </div>

                               <div class="row mb-1">
                                   <label class="col-sm-2 col-form-label form-label">이메일</label>
                                   <div class="col-sm-6">
                                       <input type="email" readonly class="form-control-plaintext" th:value="${member.email}">
                                   </div>
                               </div>

                               <hr>

                               <div class="row mb-4">
                                   <label class="col-sm-2 col-form-label form-label">전화번호</label>
                                   <div class="col-sm-3">
                                       <input type="text" class="form-control" id="staticMembersPhone" name="newPhone" maxlength="11" th:placeholder="${member.phone}">
                                       <div class="text-sm mt-1">
                                           변경할 전화번호를 입력해주세요.
                                       </div>
                                   </div>
                               </div>

                               <div class="row mb-4">
                                   <label class="col-sm-2 col-form-label form-label">로그인 비밀번호</label>
                                   <div class="col-sm-3">
                                       <button type="button" class="btn btn-gray-outline" id="togglePasswordChange">비밀번호 변경</button>
                                   </div>
                                   <div class="col-sm-1 iconX">
                                       <div>&times;</div>
                                   </div>
                               </div>

                               <div id="passwordChangeSection">
                                   <div class="row mb-4">
                                       <label class="col-sm-2 col-form-label form-label">현재 비밀번호</label>
                                       <div class="col-sm-4">
                                           <input type="password" class="form-control" name="currentPassword" maxlength="16">
                                           <div th:text="${currentPasswordError}" class="text-sm mt-1 text-danger"></div>
                                       </div>
                                   </div>
                                   <div class="row mb-4">
                                       <label class="col-sm-2 col-form-label form-label">새 비밀번호</label>
                                       <div class="col-sm-4">
                                           <input type="password" class="form-control" name="newPassword" maxlength="16">
                                           <div class="text-sm mt-1">
                                               영문/숫자/특수문자 조합(8~16자로 작성) <br>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="row mb-4">
                                       <label class="col-sm-2 col-form-label form-label">새 비밀번호 확인</label>
                                       <div class="col-sm-4">
                                           <input type="password" class="form-control" name="confirmPassword" maxlength="16">
                                           <div th:text="${confirmPasswordError}" class="text-sm mt-1 text-danger"></div>
                                       </div>
                                   </div>
                               </div>

                               <div class="text-center mt-5">
                                   <button type="submit" class="btn btn-primary me-2 px-4">저장</button>
                                   <a href="/members/account/mypage" class="btn btn-gray px-4">취소</a>
                               </div>
                           </form>
                       </div>
                    </div>


                </div>
            </main>

            <!--비밀번호 변경창 토글-->
            <script>
                $('#togglePasswordChange').on('click', function () {
                    $('#passwordChangeSection').slideDown(200);
                    $('.iconX').addClass('open');
                });

                $('.iconX').on('click', function () {
                    $('#passwordChangeSection').slideUp(200);
                    $('.iconX').removeClass('open');
                });
            </script>


            <!--푸터 절대 수정 금지!!!!-->
            <!--푸터-->
            <div th:replace="~{fragments/desktop/adminfooter::adminFooter}"></div>
        </div>
</body>
</html>